h1 {
  text-align: center;
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

body {
  text-align: center;
}

.pizza {
  background-color: rgba(150, 150, 150, 0.5);;
  width: 100%;
  margin-right: 1%;
  margin-left: 1%;
  max-height: 80vh;
}

.pizzaDisplay {
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10%; */
  /* margin-bottom: 10%; */
  overflow: hidden;
  position: relative;
  width: 60vmin;
  padding: 1vmax;
}

.pizzaDisplay img {
  display: block;
  width: 100%;
}

.remove-pizza {
  /* margin-bottom: .1vw; */
  font-size: 1vw;
  background-color: rgba(200, 200, 200, 0.5);
  border-style: none;
  line-height: 1vw;
  padding: 0.1vw;
}

/* .pizzaDisplay { */

.overlap {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.orders {
  background-color: rgba(150, 150, 150, 0.5);
  width: 20%;
  padding: 10px;
  max-height: 80vh;
  min-width: 18vmin;
}

.order {
  background-color: rgba(100, 100, 100, 0.5);;
  border: 1px solid rgba(100, 100, 100, 0.5);
  font-size: 1.0vw;
  line-height: 2.5vw;
}

.options {
  background-color: rgba(150, 150, 150, 0.5);;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 80vh;
  padding: 0px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  /* width: 18vmin; */
  min-width: 18vmin;
}

h3 {
  line-height: 4vw;
  margin: 0px;
  font-size: 2vw;
}

.option {
  margin-top: 1vw;
  max-width: 100%;
  border: 1px solid rgba(100, 100, 100, 0.5);
  max-height: 10vw;
  width: auto;
  height: auto;
}

.heading {
  margin-top: 1vw;
  width: 100%;
  line-height: 1vw;
}

.footing {
  margin-top: 1vw;
  width: 100%;
  line-height: .1vw;
  font-size: 1vw;
}

.selected {
  background-color: rgba(100, 100, 100, 0.8)
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
